/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/*div{
  overflow:hidden;
}*/
body {
  font-family: 'Montserrat', sans-serif;
}

/****************************TITLE SECTION************************** */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  align-self: center;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  /** using width to change the size of photo**/
  transform: translateX(100px)rotate(15deg);
}

/* ************************************************************ */
/******************************* FEATURES SECTION******************* */
#features .col-lg-4 {
  text-align: center;
  padding: 5% 3%;
}

#features{
  padding:7% 15%;
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

#features p{
  color: #8f8f8f;
  margin-left:8%;
  margin-right:8%;
}

.fas {
  font-size: 4rem;
  margin-bottom: 15px;
  color: #ef8172;

}
.fas:hover{
  color: #ff4c68;
}
